@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --font-color: black;
  --body-bg-color: white;
  --bod-bg-color: #2F4F4F;
  --place-holder: black;
}
.dark-mode {
  --font-color: white;
  --body-bg-color: black;
  --bod-bg-color: #2F4F4F;
  --place-holder: white;
}


.text-white {
  color: var(--font-color);
}
.text-black {
  color: var(--font-color);
}

.text-gray-200 { 
  color: var(--font-color);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--place-holder);
  opacity: 1; /* Firefox */
}

.bg-black {
  background-color: var(--body-bg-color);
}

.bg-gray-700{
  background-color: var(--bod-bg-color);
}
